In [ ]:
!pip install pandas

In [7]:
import pandas as pd
import os

## Coordenadas

Sintetização dos arquivos de coordenadas

In [24]:
estadoCoordenadasCSV = 'Coordenadas/estados_coord.csv'
municipioCoordenadasCSV = 'Coordenadas/municipios_coord.csv'

In [25]:
estadoCoord = pd.read_csv(estadoCoordenadasCSV)
colunasParaRemover1 = ['latitude', 'longitude', 'regiao']
estadoCoord = estadoCoord.drop(colunasParaRemover1, axis = 1)
estadoCoord = estadoCoord.rename(columns={'nome': 'estado_nome'})

In [27]:
municipioCoord = pd.read_csv(municipioCoordenadasCSV)
colunasParaRemover2 = ['codigo_ibge', 'siafi_id', 'ddd', 'fuso_horario']
municipioCoord = municipioCoord.drop(colunasParaRemover2, axis = 1)

In [28]:
estadoCoord.head()

   codigo_uf  uf estado_nome    pais
0         11  RO    Rondônia  Brasil
1         12  AC        Acre  Brasil
2         13  AM    Amazonas  Brasil
3         14  RR     Roraima  Brasil
4         15  PA        Pará  Brasil

In [29]:
municipioCoord.head()

                  nome  latitude  longitude  capital  codigo_uf
0      Abadia de Goiás -16.75730   -49.4412        0         52
1  Abadia dos Dourados -18.48310   -47.3916        0         31
2            Abadiânia -16.19700   -48.7057        0         52
3               Abaeté -19.15510   -45.4444        0         31
4           Abaetetuba  -1.72183   -48.8788        0         15

In [30]:
coordenadas = pd.merge(municipioCoord, estadoCoord, on='codigo_uf', how='inner')

In [31]:
coordenadas.head()

,nome,latitude,longitude,capital,codigo_uf,uf,estado_nome,pais
0,Abadia de Goiás,-16.7573,-49.4412,0,52,GO,Goiás,Brasil
1,Abadiânia,-16.1970,-48.7057,0,52,GO,Goiás,Brasil
2,Acreúna,-17.3960,-50.3749,0,52,GO,Goiás,Brasil
3,Adelândia,-16.4127,-50.1657,0,52,GO,Goiás,Brasil
4,Água Fria de Goiás,-14.9778,-47.7823,0,52,GO,Goiás,Brasil

In [32]:
coordenadas.to_csv('Coordenadas/coordenadas.csv', index=False)

## Organização dos Boletins de Urna

Redução de colunas para processamento no Tableau

In [16]:
bwebCSV = 'BUs/2022/bweb_2t_RN_311020221535.csv'
bweb = pd.read_csv(bwebCSV, encoding='latin-1', sep=';')
bweb.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,CD_PLEITO,DT_PLEITO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,...,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,QT_ELEITORES_BIOMETRIA_NH,DT_EMISSAO_BU,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
0,31/10/2022,15:51:14,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,1941091E,21/09/2022 10:11:00,1 - 1,#NULO#,30/10/2022 08:00:01,30/10/2022 17:00:18,13,30/10/2022 17:01:50,-1,-1
1,31/10/2022,15:51:14,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,1941091E,21/09/2022 10:11:00,1 - 1,#NULO#,30/10/2022 08:00:01,30/10/2022 17:00:18,13,30/10/2022 17:01:50,-1,-1
2,31/10/2022,15:51:14,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,1941091E,21/09/2022 10:11:00,1 - 1,#NULO#,30/10/2022 08:00:01,30/10/2022 17:00:18,13,30/10/2022 17:01:50,-1,-1
3,31/10/2022,15:51:14,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,1941091E,21/09/2022 10:11:00,1 - 1,#NULO#,30/10/2022 08:00:01,30/10/2022 17:00:18,13,30/10/2022 17:01:50,-1,-1
4,31/10/2022,15:51:14,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,1941091E,21/09/2022 10:25:00,1 - 2,#NULO#,30/10/2022 08:00:01,30/10/2022 17:01:08,20,30/10/2022 17:02:36,-1,-1

In [17]:
colunasParaRemover3 = ['DT_GERACAO', 'HH_GERACAO', 'CD_TIPO_ELEICAO', 'NM_TIPO_ELEICAO', 'CD_PLEITO', 'DT_PLEITO', 
                       'NR_TURNO', 'CD_ELEICAO', 'DS_ELEICAO', 'CD_FLASHCARD_URNA_EFETIVADA', 'DT_CARGA_URNA_EFETIVADA', 
                       'DS_CARGO_PERGUNTA_SECAO', 'DS_AGREGADAS', 'DT_ABERTURA', 'DT_ENCERRAMENTO', 'QT_ELEITORES_BIOMETRIA_NH', 
                       'DT_EMISSAO_BU', 'NR_JUNTA_APURADORA', 'NR_TURMA_APURADORA', 'CD_MUNICIPIO', 'NR_ZONA', 'NR_SECAO',
                       'NR_LOCAL_VOTACAO', 'CD_CARGO_PERGUNTA', 'DS_CARGO_PERGUNTA', 'CD_TIPO_URNA', 'DS_TIPO_URNA', 'CD_TIPO_VOTAVEL',
                       'NR_URNA_EFETIVADA', 'CD_CARGA_1_URNA_EFETIVADA', 'CD_CARGA_2_URNA_EFETIVADA']

bweb = bweb.drop(colunasParaRemover3, axis = 1)

In [18]:
bweb.head()

,ANO_ELEICAO,SG_UF,NM_MUNICIPIO,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,DT_BU_RECEBIDO,QT_APTOS,QT_COMPARECIMENTO,QT_ABSTENCOES,DS_TIPO_VOTAVEL,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS
0,2022,RN,NATAL,13,PT,Partido dos Trabalhadores,30/10/2022 17:14:27,329,260,69,Nominal,13,LULA,156
1,2022,RN,NATAL,-1,#NULO#,#NULO#,30/10/2022 17:14:27,329,260,69,Branco,95,Branco,1
2,2022,RN,NATAL,22,PL,Partido Liberal,30/10/2022 17:14:27,329,260,69,Nominal,22,JAIR BOLSONARO,100
3,2022,RN,NATAL,-1,#NULO#,#NULO#,30/10/2022 17:14:27,329,260,69,Nulo,96,Nulo,3
4,2022,RN,NATAL,-1,#NULO#,#NULO#,30/10/2022 17:15:26,336,283,53,Nulo,96,Nulo,4

In [20]:
bweb.to_csv('BUs/2022/bweb.csv', index=False)

### Automatização

In [26]:
def processar_arquivos_csv(diretorio_entrada, diretorio_saida):
    # Lista todos os arquivos no diretório de entrada que têm extensão .csv
    arquivos_csv = [arquivo for arquivo in os.listdir(diretorio_entrada) if arquivo.endswith('.csv')]

    # Loop através de cada arquivo CSV
    for arquivo in arquivos_csv:
        # Caminho completo para o arquivo de entrada
        caminho_entrada = os.path.join(diretorio_entrada, arquivo)

        # Carrega o arquivo CSV em um DataFrame pandas
        df = pd.read_csv(caminho_entrada, encoding='latin-1', sep=';')

        # Realiza as operações desejadas (por exemplo, remover colunas)
        # Substitua este passo pelo seu processamento real
        # Neste exemplo, estamos removendo uma coluna chamada 'Coluna_para_Remover'
        if 'DT_GERACAO' in df.columns:
            df = df.drop(colunasParaRemover3, axis = 1)

        # Caminho completo para o arquivo de saída no diretório de saída
        caminho_saida = os.path.join(diretorio_saida, arquivo)

        # Salva o DataFrame resultante em um arquivo CSV no diretório de saída
        df.to_csv(caminho_saida, index=False, encoding='latin-1')

In [27]:
diretorio_entrada = 'BUs/2022/'
diretorio_saida = 'BUsProc/2022/'

processar_arquivos_csv(diretorio_entrada, diretorio_saida)