In [ ]:
!pip install pandas

In [23]:
import pandas as pd

## Coordenadas

Sintetização dos arquivos de coordenadas

In [24]:
estadoCoordenadasCSV = 'Coordenadas/estados_coord.csv'
municipioCoordenadasCSV = 'Coordenadas/municipios_coord.csv'

In [25]:
estadoCoord = pd.read_csv(estadoCoordenadasCSV)
colunasParaRemover1 = ['latitude', 'longitude', 'regiao']
estadoCoord = estadoCoord.drop(colunasParaRemover1, axis = 1)
estadoCoord = estadoCoord.rename(columns={'nome': 'estado_nome'})

In [27]:
municipioCoord = pd.read_csv(municipioCoordenadasCSV)
colunasParaRemover2 = ['codigo_ibge', 'siafi_id', 'ddd', 'fuso_horario']
municipioCoord = municipioCoord.drop(colunasParaRemover2, axis = 1)

In [28]:
estadoCoord.head()

   codigo_uf  uf estado_nome    pais
0         11  RO    Rondônia  Brasil
1         12  AC        Acre  Brasil
2         13  AM    Amazonas  Brasil
3         14  RR     Roraima  Brasil
4         15  PA        Pará  Brasil

In [29]:
municipioCoord.head()

                  nome  latitude  longitude  capital  codigo_uf
0      Abadia de Goiás -16.75730   -49.4412        0         52
1  Abadia dos Dourados -18.48310   -47.3916        0         31
2            Abadiânia -16.19700   -48.7057        0         52
3               Abaeté -19.15510   -45.4444        0         31
4           Abaetetuba  -1.72183   -48.8788        0         15

In [30]:
coordenadas = pd.merge(municipioCoord, estadoCoord, on='codigo_uf', how='inner')

In [31]:
coordenadas.head()

,nome,latitude,longitude,capital,codigo_uf,uf,estado_nome,pais
0,Abadia de Goiás,-16.7573,-49.4412,0,52,GO,Goiás,Brasil
1,Abadiânia,-16.1970,-48.7057,0,52,GO,Goiás,Brasil
2,Acreúna,-17.3960,-50.3749,0,52,GO,Goiás,Brasil
3,Adelândia,-16.4127,-50.1657,0,52,GO,Goiás,Brasil
4,Água Fria de Goiás,-14.9778,-47.7823,0,52,GO,Goiás,Brasil

In [32]:
coordenadas.to_csv('Coordenadas/coordenadas.csv', index=False)